**Day 2 - python data types, and how to manipulate strings.**

In [1]:
#Data types

#String

print("Hello"[0])

H

In [2]:
print("Hello"[3])

l

In [3]:
"hello"[2]

'l'

In [6]:
"123" + "345"

'123345'

In [8]:
#Integers

123 + 456

579

In [9]:
123_456_789

123456789

In [10]:
#float

3.1456

3.1456

In [11]:
314.567

314.567

In [15]:
#Boolean

True or False
#True and False

True

In [18]:
#type error , type checking and type conversion

num_char = len(input("what is your name?"))
print(type(num_char))

what is your name?sadu
<class 'int'>

In [21]:
#type error
len(45679)

TypeError: object of type 'int' has no len()

In [20]:
#type checking

#num_char = len(input("what is your name?"))
print(type(len(input("what is your name?"))))

what is your name?sadu
<class 'int'>

In [25]:
#type conversion

num_char = len(input("what is your name?"))
new_num_char = str(num_char)

print("your name has " + new_num_char + " characters.")

what is your name?saduabhi
your name has 8 characters.

In [26]:
a = 123
type(a)

int

In [27]:
a = str(123)
type(a)

str

In [28]:
a = str(123)
print(type(a))

<class 'str'>

In [29]:
print(70 + float("100.5"))

170.5

In [30]:
print(str(70)+ str(100))

70100

In [33]:
# ðŸš¨ Don't change the code below ðŸ‘‡
two_digit_number = input("Type a two digit number: ")
# ðŸš¨ Don't change the code above ðŸ‘†

####################################
#Write your code below this line ðŸ‘‡

first_digit = two_digit_number[0]
second_digit = two_digit_number[1]

result = first_digit + second_digit
print(result)

Type a two digit number: 55
55

In [34]:
# ðŸš¨ Don't change the code below ðŸ‘‡
two_digit_number = input("Type a two digit number: ")
# ðŸš¨ Don't change the code above ðŸ‘†

####################################
#Write your code below this line ðŸ‘‡

first_digit = two_digit_number[0]
second_digit = two_digit_number[1]

result = int(first_digit) + int(second_digit)
print(result)

Type a two digit number: 55
10

In [36]:
#mathematical operation in python

3+5

8

In [37]:
7-3

4

In [38]:
3*2

6

In [39]:
6/3

2.0

In [41]:
2**3 #exponential

8

In [42]:
5**3

125

In [43]:
#Pemdas

print(3*3 + 3 / 3 - 3)

7.0

In [44]:
print(3*(3 + 3) / 3 - 3)

3.0

In [49]:
#BMI calculator

height = input("enter your height in mt: ")
weight = input("enter your weight in kg: ")

bmi = int(weight) / float(height) **2

print(int(bmi))

enter your height in mt: 1.8
enter your weight in kg: 70
21

In [50]:
#round the number of the decimal values

print(round(8/3, 2))

2.67

In [51]:
print(8//3)

2

In [52]:
result =4/2
result /=2
print(result)

1.0

In [53]:
score =0
score +=1
print(score)

1

In [54]:
score =0
score +=5
print(score)

5

In [55]:
score =0
score -=5
print(score)

-5

In [56]:

# F-string

score = 0 
height =1.8
isWinning = True

print(f"your score is {score}, your height is {height}, you are winning is {isWinning}")

your score is 0, your height is 1.8, you are winning is True

In [60]:
# ðŸš¨ Don't change the code below ðŸ‘‡
age = input("What is your current age?")

age_as_int = int(age)
years_remaining = 90-age_as_int
days_remaining = years_remaining *365
weeks_remaining = years_remaining *52
months_remaining = years_remaining *12

message = f"you have {days_remaining} days, {weeks_remaining} weeks, {months_remaining} months left"

print(message)

What is your current age?25
you have 23725 days, 3380 weeks, 780 months left

In [61]:
print(6 + 4 / 2 - (1 * 2))

6.0

In [63]:
a = int("5") / int(2.7)
a

2.5